<section class="signup-form">
  <form fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" formControlName="email" matInput placeholder="Seu email" email required>
      <mat-error>Email inválido vazio</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Deve ter pelo menos 6 caracteres">
      <input type="password" formControlName="password" matInput placeholder="Sua senha" required minlength="6">
    </mat-form-field>
    <mat-checkbox formControlName="agree" color="primary" required>Aceitar os termos</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Logar</button>
  </form>
</section>