<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.sx="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Hora de começar uma putaria
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Seu exercício" ngModel name="exercise" required>
            <mat-option [value]="exercise.id" *ngFor="let exercise of exercises">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button [disabled]="f.invalid">Começar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>