<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink='/signup' (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span>Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink='/login' (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span>Signin</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink='/training' (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span>Fitness</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink='/login' (click)="onLogout()">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>