<section class="signup-form">
  <form fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Seu email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Não pode ser vazio</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email é inválido</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Deve ter pelo menos 6 caracteres">
      <input type="password" matInput placeholder="Sua senha" ngModel name="password" required minlength="6" #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" [max]="maxDate" ngModel name="birthdate" #birthInput="ngModel" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required>Aceitar os termos</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Logar</button>
  </form>
</section>