<mat-tab-group *ngIf="!onGoingTraining">
  <mat-tab label="Novo treinamneto">
    <app-new-training></app-new-training>
  </mat-tab>
  <mat-tab label="Treinamentos antigos">
    <app-past-trainings></app-past-trainings>
  </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="onGoingTraining"></app-current-training>